$light-bg: #fafafa;
$light-bg-2: #fff;
$light-shadow: #e6e6e6;
$light-text: #111517;

$dark-bg: #202D36;
$dark-bg-2: #2B3743;
$dark-shadow: #20272c;
$dark-text: #fff;

$input-icon: hsl(0, 0%, 52%);
$input-text: hsl(0, 0%, 75%);
$light-mode-shadow: #e6e6e6;