$dark-mode-text: hsl(209, 23%, 22%);
$dark-mode-bg: hsl(207, 26%, 17%);

$input-icon: hsl(0, 0%, 52%);
$input-text: hsl(0, 0%, 75%);

$light-mode-text: hsl(200, 15%, 8%);
$light-mode-bg: hsl(0, 0%, 98%);
$light-mode-shadow: hsl(0, 0%, 90%);

$white: hsl(0, 0%, 100%);