@import 'base.scss';
@import 'colors.scss';

.App {
  p {
    color: $light-mode-text;
  }

  .main {
    background-color: $light-mode-bg;
    padding: 20px;
    min-height: 200vh;
  }

  .filters {
    @media screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
    }
  }
}