@import 'base.scss';
@import 'colors.scss';

.App {
  color: $light-text;

  .main {
    background-color: $light-bg;
    padding: 20px 24px;
    min-height: 100vh;

    @media screen and (min-width: 600px) {
      padding: 20px 48px;
    }
  }

  .filters {
    @media screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.dark-mode {
  color: $dark-text;

  .main {
    background-color: $dark-bg;
  }
}