@import 'colors.scss';

.countries-container {
  display: grid;
  // display: flex;
  // flex-direction: column;
  grid-template-columns: 1fr;
  row-gap: 40px;
  margin: 40px auto 0;
  padding: 0 24px;
  max-width: 400px;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    max-width: 700px;
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: none
  }
}

.country {
  // width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  box-shadow: -1px 2px 5px $light-mode-shadow;
  overflow: hidden;

  // @media screen and (min-width: 600px) {
  //   width: 45%;
  // }

  // @media screen and (min-width: 900px) {
  //   width: 30%;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 21%;
  // }

  &__img {
    width: 100%;
  }

  &__content {
    padding: 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
  }

  &__subtitle {
    margin-bottom: 6px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__value {
    font-weight: 300;
  }
}