@import 'colors.scss';

.countries-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  margin: 40px auto 0;
  padding: 0 24px;
  max-width: 400px;

  @media screen and (min-width: 600px) {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    max-width: 700px;
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: none
  }
}

.country {
  display: flex;
  flex-direction: column;
  background-color: $light-bg-2;
  border-radius: 10px;
  box-shadow: -1px 2px 5px $light-shadow;
  overflow: hidden;
  cursor: pointer;

  &__flag-container {
    width: 100%;
    height: 46vw;
    display: flex;

    @media screen and (min-width: 600px) {
      height: 25vw;
    }

    @media screen and (min-width: 900px) {
      height: 18vw;
    }

    @media screen and (min-width: 1200px) {
      height: 14vw;
      max-height: 200px;
    }

    >img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
  }

  &__subtitle {
    margin-bottom: 6px;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__value {
    font-weight: 600;
  }
}

.dark-mode .country {
  background-color: $dark-bg-2;
  box-shadow: -1px 2px 5px $dark-shadow;
}