@import 'colors.scss';

.filter {
  width: 70%;
  margin-top: 40px;
  font-weight: 600;
  color: $input-icon;

  >div {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -1px 2px 5px $light-shadow;
    background-color: $light-bg-2;
    transition: background-color 0s;
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    margin-top: 0;
    width: 20%;
    min-width: 200px;
  }
}

.dark-mode .filter {
  div {
    color: $dark-text;
  }

  >div {
    background-color: $dark-bg-2;
    box-shadow: -1px 2px 5px $dark-shadow;
  }
}